body {
    background: rgb(255, 255, 255);
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.container{
    position: relative;
    width: 400px;
    height: 500px;
    top: 50px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}
.divend{
    position: absolute;
    width: 400px;
    height: 300px;
    border-radius: 20px;
    top: 400px;
}

.divend1{
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.container, .divend{
    
    background-color: rgb(170, 98, 238);
}

.text{
    width: 280px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    
}

.box-1-1{
    height: 200px;
    border: 40px solid rgb(0, 0, 0);
    margin: 20px;
    border-radius: 5px;
}

.boxsub2{
    width: 280px;
    height: 195px;
    background-color: rgb(185, 185, 185);
    border: 3px solid rgb(59, 59, 59);
}


.gamebody{
    color: #fff;
    
}

.brand-gamebody{
    color: rgb(133, 131, 212);
}

.caja-circulo, .box{
    width: 100px;
    height: 100px;
}

.flex-arrow-box{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.boxup, .boxleft, .boxcenter, .boxright, .boxdown{
    position: relative;
    width: 30px;
    height: 30px;
    background-color: rgb(88, 88, 88);
}

.boxup, .boxdown{
    left: 35px;
    top: 3px;
}

.boxleft, .boxcenter, .boxright{
    top: 3px;
    left: 5px;
}

.arrow-up, .arrow-left, .arrow-right, .arrow-down{
    position: relative;
    width: 0;
    height: 0;
}

.arrow-up{
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid rgb(167, 167, 167);
    top: 5px;
}

.arrow-left{
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid rgb(167, 167, 167);
    left: 5px;
}

.arrow-circle{
    position: relative;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(167, 167, 167);
    left: 1.5px;
    top: 3px;
}

.arrow-right{
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid rgb(167, 167, 167);
    left: 10px;
}

.arrow-down{
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid rgb(167, 167, 167);
    top: 10px;
}

.caja-circulo{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
}

.circulo1, .box-circle2{
    width: 50px;
}

.circulo1, .box-circle2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle1right, .circle2right{
    position: relative;
    width: 30px;
    height: 35px;
    border-radius: 50%;
    background-color: rgb(88, 88, 88);
}

.circle1right{
    top: 20px;
}

.circle2right{
    bottom: 10px;
}

.circlesend{
    width: 360px;
    height: 35px;
    background-color: white solid transparent;
    margin: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.circle1end, .circle2end{
    height: 35px;
    background-color: rgb(88, 88, 88);
    margin-right: 25px;
    border-radius: 50%;
    width: 50px;
    justify-content: center;
    align-content: center;
    align-items: center;
}

audio{
    display: none;
}
img{
    width: 281px;
    height: 196PX;
     
    
}
button{

    border-radius: 10px;
    align-items: center;
    justify-self: center;
    bottom: 10px;
}
  

  